//colors
$primary-color: #EFF7FA;
$secondary-color: #54A8C7;
$light-color: #fff;
$light-primary: #EEEFF3;
$light-secondary: #fefefe;
$dark-color: #000;
$dark-primary: #354053;
$dark-secondary: #9AA9B8;

$success-color: #54A8C7;
$danger-color: #f44336;
$info-color: #36f4f1;
$warning-color: #ff9800;

$priamry-gradient: linear-gradient(135deg, #f4f3f1, #333333);

$primary-text-color: #354053;
$text-color: #9AA9B8;
