//font-sizes
$title-size: 2.4rem;
$accent-size: 1.6rem;

//font-family
$title-font: 'Open Sans','sans-serif';
$accent-font: 'Open Sans','sans-serif';

//sizes
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;

//layouting
$wrapper-val:7.5vw;
$section-padding: 10vh 7.5vw;

//radius
$border-radius: 10px;
