.common_section {
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)),
      url("https://sandbox.ui-lib.com/_next/image?url=%2Fimg%2Fphotos%2Fbg12.jpg&w=3840&q=75") no-repeat center center;
    background-size: cover;
    /* height: 500px; */
    padding: 200px 0px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .common_section h1 {
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
  }
  
  @media only screen and (max-width: 768) {
    .common_section{
      padding: 70px 0px;
    }
    .common_section h1{
      font-size: 1.4rem;
    }
  }
  